@model IEnumerable<SimpleCQRS.InventoryItemListDto>

@{
    ViewData["Title"] = "Home Page";
}
<h2>All items:</h2>
<ul>
@foreach(var item in Model)
{
    <li>
            @Html.ActionLink("Name: " + item.Name,"Details",new{Id=item.Id})
        </li>
}
</ul>
@Html.ActionLink("Add","Add")

